<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device=width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Constructora M.A/Contact</title>
    <% include partials/head.html %>

</head>

<body>
    <% include partials/navigation.html %>
        <img class="ontainer-fluid " src="images/panama.png" alt="img services" width="100%" height="500px">
        <div class="container mt-3">
            <h2 class="text-center m-5"><strong>ACERCA DE LA EMPRESA</strong></h2>
        </div>

        <!--Valores-->
        <div class="row">
            <div class="col-md-3 ">
                <div class="nav flex-column nav-pills ml-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                    <a class="nav-link active" id="v-pills-mision-tab" data-toggle="pill" href="#v-pills-mision" role="tab" aria-controls="v-pills-mision" aria-selected="false">MISIÒN</a>
                    <a class="nav-link" id="v-pills-vision-tab" data-toggle="pill" href="#v-pills-vision" role="tab" aria-controls="v-pills-vision" aria-selected="false">VISIÒN</a>
                    <a class="nav-link" id="v-pills-valores-tab" data-toggle="pill" href="#v-pills-valores" role="tab" aria-controls="v-pills-valores" aria-selected="false">VALORES</a>
                </div>
            </div>
            <div class="col-md-9">
                <div class="tab-content" id="v-pills-tabContent">
                    <div class="tab-pane fade show active text-center m-3" id="v-pills-mision" role="tabpanel" aria-labelledby="v-pills-mision-tab">
                        <h3><strong>MISIÒN</strong></h3>
                        <img src="images/mision.png" alt="Mision de la empresa" width="50%" height="30%">
                        <p class="text-justify">Somos una empresa dedicada a la organizaciòn, planificaciòn, construcciòn y gestiòn de proyectos, con profesionales altamente capacitados, mano de obra calificada, materiales y equipos de calidad para cumplir de manera ètica, efectiva
                            y oportuna las expectativas de nuestros clientes.</p>
                    </div>
                    <div class="tab-pane fade text-center m-4" id="v-pills-vision" role="tabpanel" aria-labelledby="v-pills-vision-tab">
                        <h3><strong>VISIÒN</strong></h3>
                        <img src="images/vision.svg" alt="vision de la empresa" width="50%" height="30%">
                        <P class="text-justify mt-2">Ser la principal constructora del mercado nacional, con reconocimiento a nivel internacional, acompañando a nuestros clientes en todo el proceso constructivo con las más avanzadas técnicas y equipos de construcción disponibles
                            con el objetivo final de cuidar sus intereses.
                        </P>

                    </div>
                    <div class="tab-pane fade text-center m-4" id="v-pills-valores" role="tabpanel" aria-labelledby="v-pills-valores-tab">
                        <h3><strong>VALORES</strong></h3>
                        <img src="images/valores.png" alt="imagen valores" width="50%" height="30%">
                        <P class="text-justify">Nuestros valores son los que nos impulsan todos los días. GICSA fue fundada bajo los principios básicos de integridad, confianza y trabajo en equipo. Creemos en el análisis y el trabajo como herramientas de mejoramiento e innovación,
                            en conjunto con nuestro recurso humano. Estamos comprometidos con lograr la satisfacción del cliente.</P>

                    </div>
                </div>
            </div>
        </div>
        <% include partials/footer.html %>
</body>

</html>