<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device=width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Constructora M.A/Contact</title>
    <% include partials/head.html %>

</head>

<body>
    <% include partials/navigation.html %>
    <img src="images/valores.jpg" alt="img services" width="100%" height="500px">
    <h4 class="semb-val"><STRONg>Sembrando valores!</STRONg></h4>
    <div class="container pl-5  pr-5 mt-3 ">
        <h2 class="text-center"><strong>ACERCA DE LA EMPRESA</strong></h2>
        <p class="text-justify">Nuestra filosofía de trabajo se resume en los siguientes conceptos: Interpretar el problema específico de nuestro cliente y dar respuesta inmediata a sus necesidades generando resultados medibles y cuantificables. Acompañar su crecimiento ofreciéndole mayores posibilidades de utilización integral de los recursos disponibles, lo cual determina que la inversión en nuestros servicios tenga un retorno multiplicado. Durante la fase proyectiva, nuestra misión es desarrollar una
            propuesta física que responda a las necesidades planteadas por el cliente. Para ello aplicamos una
            metodología de evaluación que nos garantiza la comprensión absoluta del producto. Durante la obra nuestra misión es asegurar la calidad y el diligenciamiento de los trabajos efectuados para lo cual disponemos de la presencia permanente de nuestros profesionales</p>
    </div>
    <!--Section mision, vision y valores-->

    <div class="row pl-5  pr-5 text-center">
        <div class="col-md-4 card mt-3" style="display: inline; border: none">
            <img src="images/mision.png" alt="Mision de la empresa" width="50%" height="auto%">
            <div class="card-body">
                <h5 class="card-title"><strong>MISIÒN</strong></h5>
                <p class="text-justify m-2">Somos una empresa dedicada a la organizaciòn, planificaciòn, construcciòn y gestiòn de proyectos, con profesionales altamente capacitados, mano de obra calificada, materiales y equipos de calidad para cumplir de manera ètica, efectiva
                    y oportuna las expectativas de nuestros clientes.</p>
            </div>
        </div>
        <div class="col-md-4 card mt-3" style="display: inline; border: none">
            <img src="images/vision.svg" alt="vision de la empresa" width="50%" height="auto%">
            <div class="card-body">
                <h5 class="card-title"><strong>VISIÒN</strong></h5>
                <P class="text-justify m-2">Ser la principal constructora de mercado, con reconocimiento a nivel
                    internacinal, acompañando a nuestros clientes en todo el proceso constructivo con las más avanzadas técnicas y equipos de construcción disponibles con el objetivo final de cuidar sus intereses.
                </P>
            </div>
        </div>
        <div class="col-md-4 card mt-3" style="display: inline; border: none">
            <img src="images/valores.png" alt="imagen valores" width="50%" height="auto%">
            <div class="card-body">
                <h5 class="card-title"><strong>VALORES</strong></h5>
                <P class="text-justify m-2">Nuestros valores son los que nos impulsan todos los días. Constructora MA-SA fue fundada bajo los principios básicos de integridad, confianza y trabajo en equipo. Creemos en el análisis y el trabajo como herramientas de mejoramiento e innovación, en conjunto con nuestro recurso humano. Estamos comprometidos con lograr la satisfacción del cliente.
                </P>
            </div>
        </div>
    </div>
    <% include partials/footer.html %>
</body>

</html>