<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device=width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Constructora M.A/Contact</title>
    <% include partials/head.html %>
</head>

<body>
    <% include partials/navigation.html %>
        <!--IMAGE TOP --->
        <div class="container-fluid">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d985.1967327478777!2d-79.52603721198193!3d8.991743999594696!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8faca8f9c195d15d%3A0x95e718e071e24629!2sEdificio+Ana+Rosa!5e0!3m2!1sen!2spa!4v1556912068880!5m2!1sen!2spa"
            width="100%" height="500" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>

        <div class="row mt-3">
           <div class="col-md-7 p-5 ml-5 ">
                <form action="/send-email" method="POST" >
                <h2 class="text-center"><strong>Formulario de contacto</strong></h2>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="inputAddress4">Nombre completo:</label>
                        <input type="text" name="name" class="form-control" autofocus id="inputAddress2" placeholder="Nombre completo">
                    </div>

                    <div class="form-group col-md-6">
                        <label for="inputEmail4">Email:</label>
                        <input type="email" name="email" class="form-control " id="inputEmail4" placeholder="Email">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="inputTel4">Telefono</label>
                        <input type="text" name="phone" class="form-control " id="inputTel4" placeholder="telefono">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="inputAddress">Empresa</label>
                        <input type="text" class="form-control " id="inputAddress" placeholder="empresa">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="inputState">Asunto</label>
                        <select id="inputState" class="form-control">
                        <option selected>Cotizaciòn</option>
                        <option>Servicio</option>
                    </select>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="inputCity">Direcciòn</label>
                        <input type="text" class="form-control " id="inputCity" placeholder="locaciòn">
                    </div>

                    <div class="form-group col-md-12">
                        <textarea name="message" class="form-control" rows="auto" cols="30" placeholder="Mensaje"></textarea>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-prymary btn-block bg-dark text-white">Enviar Mensaje</button>
                    </div>

                </div>
            </form>
           </div>
            <div class="col-md-4 ooffset-md-8 text-inline p-5 ">
                <h2 class="text-center"><strong>INFORMACIÒN</strong></h2>
                <div class="text-center">
                    <p class="text-justify p-2">En Constructora MA,SA contamos con un equipo especializado en mantenimiento preventivo y reparaciones estructurales, con los más altos estándares de excelencia, seguridad y confianza, que garantizan la vida útil y el valor de las
                        infraestructuras que intervenimos. Nos caracterizamos dentro del ambito por Proteger las inversiones de nuestros Clientes.
                    </p>
                    <img src="images/logo.png" class="rounded-circle" alt="Constructora M.A" width="300" height="150">
                </div>
            </div>
        </div>
        <% include partials/footer.html %>
</body>

</html>