<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device=width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Constructora M.A/Contact</title>
    <% include partials/head.html %>
    </head>

  <body>
  <% include partials/navigation.html %>
  <!--IMAGE TOP --->
  <div class="container-fluid">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d985.1967327478777!2d-79.52603721198193!3d8.991743999594696!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8faca8f9c195d15d%3A0x95e718e071e24629!2sEdificio+Ana+Rosa!5e0!3m2!1sen!2spa!4v1556912068880!5m2!1sen!2spa" width="1700" height="500" frameborder="0" style="border:0" allowfullscreen></iframe>
  </div>

  <!--CARDS FORM CONTACT-ME --->
  <div class="container p-5">
    <div class="row">
      <div class="col-md-4 ooffset-md-8">
        <div class="card">
          <div class="car-header bg-primary text-white text-center">
            <h4>Contact me</h4>
          </div>
          <div class="car-body">
            <form class="" action="" method="post">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="E-mail">
              </div>
            </form>
          </div>
          <div class="car-body">
            <div class="form-group">
              <textarea class="form-control" name="" id=" " rows="10" cols="30" placeholder="Message">
              </textarea>
            </div>
            <div class="form-group">
              <button class="btn btn-prymary btn-block bg-dark text-white">Send Message</button>
            </div>
          </div>
        </div>
          <br>
      </div>
      <div class="col-md-6 ooffset-md-8 ml-auto bg-secondary text-inline">
        <h3 class="text-warning text-center">Informacion</h3>
        <p class="text-white text-justify">En Constructora MA,SA contamos con un equipo especializado en mantenimiento preventivo y reparaciones estructurales, con los más altos
            estándares de excelencia, seguridad y confianza, que garantizan la vida útil y el valor de las infraestructuras que intervenimos.
            Nos caracterizamos dentro del ambito por Proteger las inversiones de nuestros Clientes.</p>
        <div class="col-md-10 ooffset-md-2 mx-5">
          <ul class="list-unstyled text-justify">
            <li ><i class="text-danger fas fa-map-marker-alt fa-2x p-2"></i> Panama, AV 1a B Nte, Ph Ana Rosa</li>
            <li><i class="text-warning fas fa-phone fa-2x p-2"></i> 6345-7069</li>
            <li> <i class="text-white far fa-envelope fa-2x p-2"></i> Constructorama@gmail.com </li>
            <li> <i class="text-success fab fa-whatsapp-square fa-2x p-2"></i> ConstructoraMA</li>
            <li> <i class="text-primary fab fa-facebook-f fa-2x p-2"></i> Constructora M.A </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

    <% include partials/footer.html %>
  </body>
</html>
