<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device=width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Constructora M.A</title>
  <% include partials/head.html %>
</head>

<body>
<!-- Use navigation -->
<% include partials/navigation.html %>
<section class="container fondotop">
  <div class="container p-5"> <br><br><br><br>
    <p class="text-white text-center">Empresa de Construcción y Remodelaciones</p>
    <h1 class="text-white mt-5">Constructora M.A - S.A.</h1>
    <p class="text-white">"Ofrecemos un servicio integral en construcción de calidad,<br>
                          desde el proyecto o plano inicial hasta la entrega de las llaves."
    </p>
  </div>
  <!--<img src="images/fondo.gif" alt="Imagen de Cabezera" width="100%" height="500">-->
</section>

<!--CARDS SECTION SERVICES --->
<div class="container-fluid mt-3 p-3">
  <h2 class="text-center"><strong>Nustros Servicios</strong></h2>
  <p class="text-center mx-5">Nuestra meta es conseguir la óptima satisfacción del cliente.
      Ello implica nuestra respuesta a sus necesidades con soluciones innovadoras y excelente servicio profesional.
      La satisfacción de nuestros clientes es la base de nuestro sistema de calidad, siendo nuestro objetivo sobrepasar
      sus expectativas y anticiparnos a sus necesidades.
    </p>
  <div class="row mx-1">
    <div class="col-md-4 card mt-3" style="width: 18rem;">
      <img class="card-img-top" src="images/cimientos.jpg" alt="Card image cap" height="200">
      <div class="card-body">
        <h5 class="card-title">Obra Negra</h5>
        <p class="card-text text-justify"> Toda edificación debe contar con un adecuado estudio estructural, que va desde la disposición de
          fundaciones, vigas, columnas, y cubiertas que permitan cumplir con el objeto principal del diseño planteado.
        </p>
        <a href="/services" class="btn">Ver mas <i class="fa fa-angle-double-right"></i></a>
      </div>
    </div>

    <div class="col-md-4 card mt-3" style="width: 18rem;">
      <img class="card-img-top" src="images/bloque.jpg" alt="Card image cap" height="200">
      <div class="card-body">
        <h5 class="card-title">Obra Gris</h5>
        <p class="card-text text-justify">Analizamos y orientamos a nuestros clientes en cada detalle constructivo que
          garantice una adecuada ejecución.
          <ul>
            <li>Repello de paredes y pisos</li>
            <li>Instalacion de bloques</li>
          </ul>
        </p>
        <a href="/services" class="btn">Ver mas <i class="fa fa-angle-double-right"></i></a>
      </div>
    </div>

    <div class="col-md-4 card mt-3" style="width: 18rem;">
      <img class="card-img-top" src="images/remodelacion.jpg" alt="Card image cap" height="200">
      <div class="card-body">
        <h5 class="card-title">Obra blanca</h5>
        <p class="card-text text-justify">Inspiramos confianza a nuestros clientes a través de la
            retroalimentación constante. Captamos ideas y las transformamos en proyectos viables.
            Damos un valor agregado a cada idea con lo que hacemos</p>
        <a href="/services" class="btn ">Ver mas <i class="fa fa-angle-double-right"></i></a>
      </div>
    </div>

  </div>

</div>

<!--TEAM BUILDER SECTION  --->
<div class="container mt-3">
  <div class="row">
    <div class="col-md-6 mt-3 text-justify">
      <h2 class="text-center"><strong>¿QUIÈNES SOMOS?</strong>  </h2>
      <p>Es un equipo especializado en mantenimiento preventivo y reparaciones estructurales con los más altos
          estándares de excelencia, seguridad y confianza, que garantizan la vida útil y el valor de las infraestructuras que intervenimos.
          Protegemos las inversiones de nuestros Clientes.</p>
      <p>La experiencia y capacidad técnica nos permite hoy participar en proyectos de infraestructura y consolidar un
          portafolio de los mismos, donde la construcción es el motor de los negocios.</p>
      <img src="images/team.jpg" alt="Equipo contructor" width="100%" height="50%">
    </div>

    <div class="col-md-6 text-center mt-3">
      <h2 class="text-center"> <strong>¿POR QUÈ NOSOTROS?</strong></h2>
        <!-- Collapse buttons -->
      <div>

        <a class="container-fluid btn btn-primary text-justify" data-toggle="collapse" href="#btn_firtscollapse" role="button" aria-expanded="false"
          aria-controls="btn_firtscollapse"><i class="fas fa-plus-circle"></i>  Desde el inicio hasta el final de tu proyecto
        </a>
        <div class="col mt-2">
          <div class="collapse multi-collapse" id="btn_firtscollapse">
            <div class="card card-body">
              <p class="text-justify text-justify ">Los consultores y gerentes de Constructora MA.SA te acompañarán en todo el proceso para convertir tu proyecto en una realidad, desde el inicio hasta el final:</p> 
              <ul class="list-unstyled text-justify ">
                <li> <i class="fa fa-check text-success"></i> Presupuestamos el proyecto.</li>
                <li><i class="fa fa-check text-success"></i> Encontamos soluciones de acuerdo a tus nesecidades</li>
                <li><i class="fa fa-check text-success"></i> Te orientamos en la toma de desiciones</li>
                </ul>
            </div>
          </div>
        </div>
     
      <button class="container-fluid text-justify btn btn-primary" type="button" data-toggle="collapse" data-target="#btn_secondCollapse"
        aria-expanded="false" aria-controls="btn_secondCollapse"><i class="fas fa-plus-circle"></i> Experiencia y Responsabilidad 
      </button>
        <div class="col mt-2">
            <div class="collapse multi-collapse" id="btn_secondCollapse">
              <div class="card card-body">
                  <p class="text-justify">Los profesionales y técnicos de GICSA tienen experiencia en una amplia gama de disciplinas con un historial comprobado. Utilizamos subcontratistas con buena reputación y proveedores que ofrecen materiales de alta calidad. Tenemos la capacidad para realizar todo tipo de construcciones:
                    </p>             
                    <ul class="list-unstyled text-justify">
                      <li><i class="fa fa-check text-success"></i>  Edificios residenciales y de oficinas.</li>
                      <li><i class="fa fa-check text-success"></i>  Plazas y centros comerciales.</li>
                      <li><i class="fa fa-check text-success"></i>  Viviendas unifamiliares.</li>
                      <li><i class="fa fa-check text-success"></i>  Infraestructura.</li>
                      <li><i class="fa fa-check text-success"></i>  Galeras y estructuras metálicas.</li>
                      <li><i class="fa fa-check text-success"></i>  Remodelaciones.</li>   
                    </ul>
              </div>
            </div>
          </div>
  
        <button class="container-fluid text-justify btn btn-primary" type="button" data-toggle="collapse" data-target="#btn_thirdCollapse"
          aria-expanded="false" aria-controls="btn_thirdCollapse"><i class="fas fa-plus-circle"></i>  A tiempo y con el presupuesto del cliente
        </button>
        <div class="col mt-2">
          <div class="collapse multi-collapse" id="btn_thirdCollapse">
            <div class="card card-body">
              <p class="text-justify">Cuando se  inicia un proyecto, se compromete a hacerlo de la manera más oportuna posible. Somos celosos de los recursos que nuestros clientes nos confían, cuidando todos los aspectos al utilizarlos en la ejecución de sus proyectos, minimizando los desperdicios  y maximizando la calidad.</p>   
              </p>
              </div>
            </div>
          </div>
    </div>
    </div>
    <!--/ Collapse buttons -->
  </div>
</div>

<!--Contact --->
<div class="container-fluid mt-3 bg-primary text-center" id="section_contact">
  <h3 class="text-center text-dark p-5">
   <strong>"NUESTROS PROFESIONALES ESTÁN ALTAMENTE CAPACITADOS Y CUENTAN CON EXPERIENCIA EN CONSTRUCCIÓN Y ADMINISTRACIÓN DE PROYECTOS"</strong>  
  </h3>
  <a href="/contact" class="btn btn-primary btn-lg " tabindex="-1" role="button" aria-disabled="true">
    <strong>CONTÀCTANOS</strong>
  </a>
  <br><br>
</div>

<!--About me-->
<div class="container-fluid  mt-3" id="About">
    <div class="row  p-3 text-center" id="about">
      <div class="col-md-6 bg-primary text-white p-1">
        <i class="text-warning fas fa-truck-monster fa-10x"></i>
        <h3>“Siempre ahí para ti”</h3>
        <p class="text-justify">Una solución arquitectónica debe tener siempre una motivación humana basada en el análisis,
          pero esa motivación se ha de materializar en la construcción, la cual es probablemente el
          resultado de circunstancias extrañas. </p>
      </div>
  
      <div class="col-md-6" >
        <h1 class="text-center text-dark"><strong>Nuestros Clientes</strong></h1>
        
        <div class="navbar navbar-expand-lg d-inline-block">
          <ul class="navbar-nav list-unstyled" >
            <li class="nav-item ">
              <a class="nav-link text-dark" href="#">
                <img src="images/feduro.jpeg" alt="Agencias Feduro SA" width="100" height="50">
              </a>
            </li>
            <li class="nav-item mx-5">
              <a class="nav-link text-dark" href="https://www.baccredomatic.com">
                  <img src="images/bac.png" alt="Bac Credomatic" width="100" height="50">
              </a>
            </li>
            <li class="nav-item ">
              <a class="nav-link text-dark" href="">
                <img src="images/clog.png" alt="Civil Y logistica SA" width="100" height="50">
              </a>
            </li>
          </ul>
          <ol class="navbar-nav list-unstyled mt-5">
            <li class="nav-item">
              <a class="nav-link text-dark" href="http://firepropanama.com">
              <img src="images/FirePro-logo.png" alt="Fire Protection" width="100" height="50">
              </a>
            </li>
            <li class="nav-item mx-5">
                <a class="nav-link text-dark" href="ttps://www.bgeneral.com">
                <img src="images/logo-bg.png" alt="Banco General" width="100" height="50">
                </a>
            </li>
            <li class="nav-item ">
                <a class="nav-link text-dark" href="https://felipemotta.com">
                <img src="images/felipe-motta.jpg" alt="Felipe Motta" width="100" height="50">
                </a>
            </li>
          </ol>
        </div>
      </div>
    </div>
  </div>

<!--Contact-me SECTION  --->
<div class="container-fluid mt-3">
    <div class="row">
      <div class="col-md-6 bg-dark">
        <div class="container text-center mt-3 col-md-6">
          <img class=" rounded-circle" src="images/logo.png" alt="Logo de la empresa" width="250" height="200">
        </div>
        <div class="text-center">
          <ul class="navbar-nav">
            <h4>Informaciòn de Contacto</h4>
            <li>Telefono:
              <p>6345-7069</p>
            </li>
            <li>E-mail
              <p>Constructorama@gmail.com</p>
            </li>
            <li>Direccion 
              <p>Panama, AV 1a B Nte, Ph Ana Rosa</p>
            </li>
          </ul>
        </div>
      </div>
      <div class="text-center p-1 col-md-6">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1970.393465497961!2d-79.52626441321411!3d8.991743999189392!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8faca8f9c195d15d%3A0x95e718e071e24629!2sEdificio+Ana+Rosa!5e0!3m2!1sen!2spa!4v1556912499864!5m2!1sen!2spa" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
      </div>
  </div>
</div>

<!--Footer-->
<% include partials/footer.html %>
</body>
</html>