<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device=width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Constructora M.A</title>
    <% include partials/head.html %>
</head>

<body>
    <!-- Use navigation -->
    <% include partials/navigation.html %>
    <section class="container-fluid fondotop ">
        <div class="container p-5">
            <div class="container mt-5">
                <p class="text-white"> <br> <strong>Empresa de Construcción y Remodelaciones</strong> </p>
                <h1 class="text-white mt-5">Constructora M.A - S.A.</h1>
                <p class="text-white">"Ofrecemos un servicio integral en construcción de calidad,<br> desde el proyecto
                    o plano inicial hasta la entrega de las llaves."
                </p>
            </div>

        </div>
        <!--<img src="images/fondo.gif" alt="Imagen de Cabezera" width="100%" height="500">-->
    </section>

    <section class="container section_fixed">
        <!--CARDS SECTION SERVICES --->
        <div class="container-fluid mt-3 p-3">
            <h2 class="text-center"><strong>Nustros Servicios</strong></h2>
            <p class="text-center mx-5">Nuestra meta es conseguir la óptima satisfacción del cliente. Ello implica
                nuestra
                respuesta a sus necesidades con soluciones innovadoras y excelente servicio profesional. La satisfacción
                de
                nuestros clientes es la base de nuestro sistema
                de calidad, siendo nuestro objetivo sobrepasar sus expectativas y anticiparnos a sus necesidades.
            </p>
            <div class="row card_index ml-auto ">
                <div class="col-md-3 card mt-3 mx-auto" style="width: 50rem;">
                    <img class="card-img-top mt-2" src="images/cimientos.jpg" alt="Card image cap" height="200">
                    <div class="card-body">
                        <h5 class="card-title">Obra Negra</h5>
                        <p class="card-text text-justify">Toda edificación debe contar con un adecuado estudio
                            estructural,
                            que va desde la disposición de fundaciones, vigas, columnas, y cubiertas que permitan
                            cumplir
                            con el objeto principal del diseño planteado.
                        </p>
                        <a href="/services" class="btn">Ver mas <i class="fa fa-angle-double-right"></i></a>
                    </div>
                </div>

                <div class="col-md-3 card mt-3 mx-auto" style="width: 50rem;">
                    <img class="card-img-top mt-2" src="images/bloque.jpg" alt="Card image cap" height="200">
                    <div class="card-body">
                        <h5 class="card-title">Obra Gris</h5>
                        <p class="card-text text-justify">Analizamos y orientamos a nuestros clientes en cada detalle
                            constructivo que garantice una adecuada ejecución.
                            <ul>
                                <li>Repello de paredes y pisos</li>
                                <li>Instalacion de bloques</li>
                            </ul>
                        </p>
                        <a href="/services" class="btn">Ver mas <i class="fa fa-angle-double-right"></i></a>
                    </div>
                </div>

                <div class="col-md-3 card mt-3 mx-auto" style="width: 50rem;">
                    <img class="card-img-top mt-2" src="images/remodelacion.jpg" alt="Card image cap" height="200">
                    <div class="card-body">
                        <h5 class="card-title">Obra blanca</h5>
                        <p class="card-text text-justify">Inspiramos confianza a nuestros clientes a través de la
                            retroalimentación constante. Captamos ideas y las transformamos en proyectos viables. Damos
                            un
                            valor agregado a cada idea con lo que hacemos</p>
                        <a href="/services" class="btn ">Ver mas <i class="fa fa-angle-double-right"></i></a>
                    </div>
                </div>

            </div>
        </div>
        <!--TEAM BUILDER SECTION  --->
        <div class="container mt-3">
            <div class="row">
                <div class="col-md-6 mt-3 text-justify">
                    <h2 class="text-center"><strong>¿QUIÈNES SOMOS?</strong> </h2>
                    <p>Es un equipo especializado en mantenimiento preventivo y reparaciones estructurales con los más
                        altos estándares de excelencia, seguridad y confianza, que garantizan la vida útil y el valor
                        de
                        las infraestructuras que intervenimos.
                        Protegemos las inversiones de nuestros Clientes.</p>
                    <p>La experiencia y capacidad técnica nos permite hoy participar en proyectos de infraestructura y
                        consolidar un portafolio de los mismos, donde la construcción es el motor de los negocios.</p>
                    <img class="" src="images/team.jpg" alt="Equipo contructor" width="100%">
                </div>

                <div class="col-md-6 mt-3">
                    <h2 class="text-center"> <strong>¿POR QUÈ NOSOTROS?</strong></h2>
                    <!-- Collapse buttons -->
                    <div class="row">
                        <div class="col-md-12 ">
                            <div class="nav flex-column nav-pills ml-3 " id="v-pills-tab" role="tablist"
                                aria-orientation="vertical">
                                <a class="nav-link active bg-info text-white mt-2" id="v-pills-mision-tab"
                                    data-toggle="pill" href="#v-pills-mision" role="tab" aria-controls="v-pills-mision"
                                    aria-selected="false"><i class="fas fa-plus-circle"></i>
                                    Desde el inicio hasta el final de tu proyecto</a>
                                <a class="nav-link bg-info text-white mt-2" id="v-pills-vision-tab" data-toggle="pill"
                                    href="#v-pills-vision" role="tab" aria-controls="v-pills-vision"
                                    aria-selected="false"><i class="fas fa-plus-circle"></i> Experiencia y
                                    Responsabilidad</a>
                                <a class="nav-link bg-info text-white mt-2" id="v-pills-valores-tab" data-toggle="pill"
                                    href="#v-pills-valores" role="tab" aria-controls="v-pills-valores"
                                    aria-selected="false"><i class="fas fa-plus-circle"></i> A tiempo y con el
                                    presupuesto
                                    del cliente</a>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="tab-content" id="v-pills-tabContent">
                                <div class="tab-pane fade show active text-center m-4" id="v-pills-mision"
                                    role="tabpanel" aria-labelledby="v-pills-mision-tab">
                                    <div class="card card-body">
                                        <p class="text-justify text-justify ">Los consultores y gerentes de Constructora
                                            MA.SA te acompañarán en todo el proceso para convertir tu proyecto en una
                                            realidad, desde el inicio hasta el final:</p>
                                        <ul class="list-unstyled text-justify ">
                                            <li> <i class="fa fa-check text-success"></i> Presupuestamos el proyecto.
                                            </li>
                                            <li><i class="fa fa-check text-success"></i> Encontamos soluciones de
                                                acuerdo a
                                                tus nesecidades
                                            </li>
                                            <li><i class="fa fa-check text-success"></i> Te orientamos en la toma de
                                                desiciones
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="tab-pane fade text-center m-4" id="v-pills-vision" role="tabpanel"
                                    aria-labelledby="v-pills-vision-tab">
                                    <div class="card card-body">
                                        <p class="text-justify">Los profesionales y técnicos de la constructora tienen
                                            experiencia en una amplia gama de disciplinas con un historial comprobado.
                                            Utilizamos subcontratistas con buena reputación y proveedores que ofrecen
                                            materiales
                                            de alta calidad. Tenemos la capacidad para realizar todo tipo de
                                            construcciones:
                                        </p>
                                        <ul class="list-unstyled text-justify">
                                            <li><i class="fa fa-check text-success"></i> Edificios residenciales y de
                                                oficinas.
                                            </li>
                                            <li><i class="fa fa-check text-success"></i> Plazas y centros comerciales.
                                            </li>
                                            <li><i class="fa fa-check text-success"></i> Viviendas unifamiliares.</li>
                                            <li><i class="fa fa-check text-success"></i> Infraestructura.</li>
                                            <li><i class="fa fa-check text-success"></i> Galeras y estructuras
                                                metálicas.
                                            </li>
                                            <li><i class="fa fa-check text-success"></i> Remodelaciones.</li>
                                        </ul>
                                    </div>

                                </div>
                                <div class="tab-pane fade text-center m-4" id="v-pills-valores" role="tabpanel"
                                    aria-labelledby="v-pills-valores-tab">
                                    <div class="card card-body">
                                        <p class="text-justify">Cuando se inicia un proyecto, se compromete a hacerlo de
                                            la
                                            manera más oportuna posible. Somos celosos de los recursos que nuestros
                                            clientes
                                            nos confían, cuidando todos los aspectos al utilizarlos en la ejecución
                                            de sus proyectos, minimizando los desperdicios y maximizando la calidad.
                                        </p>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--sECTION NUESTROS CLIENTES-->
    <div class="container">
        <H2 class="text-dark text-center"><strong>NUESTROS CLIENTES</strong></H2>
        <div class="container-fluid row">
            <div class="col-md-6">
                <div class="text-center ">
                    <i class="fas fa-truck-monster fa-8x animated infinite slideInRight delay-1s slower"" style="
                        color:rgb(35, 120, 182 )"></i>
                    <h3>“Siempre ahí para ti”</h3>
                    <p class="text-justify ">Una solución arquitectónica debe tener siempre una motivación humana basada
                        en
                        el análisis, pero esa motivación se ha de materializar en la construcción, la cual es
                        probablemente
                        el resultado de circunstancias extrañas. </p>
                </div>
            </div>
            <div class="col-md-6 p-5">
                <div class="row navbar" id="ourclients">
                    <div class="text-center d-inline">
                        <a class="nav-link" href="">
                            <img src="images/feduro.jpeg" alt="Agencias Feduro SA" width="100" height="70">
                        </a>
                    </div>
                    <div class="text-center d-inline">
                        <a class="nav-link " href="https://www.baccredomatic.com">
                            <img src="images/bac.png" alt="Bac Credomatic" width="100" height="70">
                        </a>
                    </div>
                    <div class=" text-center d-inline">
                        <a class="nav-link" href="http://firepropanama.com">
                            <img src="images/FirePro-logo.png" alt="Fire Protection" width="100" height="70">
                        </a>
                    </div>
                    <div class=" text-center d-inline">
                        <a class="nav-link " href="ttps://www.bgeneral.com">
                            <img src="images/logo-bg.png" alt="Banco General" width="100" height="70">
                        </a>
                    </div>
                    <div class=" text-center d-inline">
                        <a class="nav-link " href="ttps://www.bgeneral.com">
                            <img src="images/clog.png" alt="civil y logistica" width="100" height="70">
                        </a>
                    </div>
                    <div class=" text-center d-inline">
                        <a class="nav-link text-dark" href="https://felipemotta.com">
                            <img src="images/felipe-motta.jpg" alt="Felipe Motta" width="100" height="70">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Footer-->
    <% include partials/footer.html %>
</body>

</html>