<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device=width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Constructora M.A/Services</title>
    <% include partials/head.html %>
</head>

<body>
    <% include partials/navigation.html %>
    <!--SECTION TOP IMAGEN-->
    <img src="/images/lema22.jpg" alt="img services" width="100%" height="500px">

    <!--SECTION SERVICES CARD-->
    <section class="container mt-3 srv_cards  m-auto">
        <div class="" id="servicessection">
            <h2 class="text-center">
                <STROng>NUESTROS SERVICIOS</STROng>
            </h2>
            <div class="row card-service-section">
                <div class="col-md-4 card mt-3" style="width: 50rem;">
                    <h4 class="text-center">Demoliciones y Fundaciones</h4>
                    <img class="card-img-top" src="images/vaciadocolumna.jpg" alt="Card image cap" height="200">
                    <div class="card-body">

                        <p class="card-text text-justify"><br>Toda edificación debe contar con un adecuado estudio
                            estructural, que va desde la disposición de fundaciones, vigas, columnas, y cubiertas que
                            permitan cumplir con el objeto principal del diseño planteado.
                        </p>
                    </div>
                </div>

                <div class="card col-md-4 mt-3" style="width: 50rem;">
                    <h4 class="text-center">Instalacion de cielo raso</h4>
                    <img class="card-img-top" src="images/gypsum2.jpg" alt="imagen de gypsum" height="200">
                    <div class="card-body">
                        <p class="card-text text-justify"><br>Inspiramos confianza a nuestros clientes a través de la
                            retroalimentación constante. Captamos ideas y las transformamos en proyectos viables. Damos
                            un
                            valor agregado a cada idea con lo que hacemos
                        </p>
                    </div>
                </div>

                <div class="card col-md-4 mt-3">
                    <h4 class="text-center">Servicios de Plomeria</h4>
                    <img class="card-img-top" src="images/plomeria.jpeg" alt="imagen de gypsum" height="200">
                    <div class="card-body">
                        <p class="card-text text-justify"><br>Ofrecemos un servicio profesional en la ciudad de Panamá
                            con
                            un equipo de plomeros acreditados y con años de experiencia. Estamos disponibles 6 días a la
                            semana y garantizamos nuestro trabajo.
                        </p>
                    </div>
                </div>

                <div class="card col-md-4 mt-3">
                    <h4 class="text-center">Servicios de Revestimiento</h4>
                    <img class="card-img-top" src="images/revestir.gif" alt="imagen de gypsum" height="200">
                    <div class="card-body">
                        <p class="card-text text-justify"><br>Ofrecemos nuevas alternativas y soluciones a los
                            diferentes
                            sectores en los que trabajamos, instalando materiales que permiten mejorar las condiciones
                            estéticas, seguridad, higiénicas, impermeabilización, durabilidad, conservación,
                            etc
                        </p>
                    </div>

                </div>

                <div class="card col-md-4 mt-3">
                    <h4 class="text-center">Preparacion y Vaciado de Pisos</h4>
                    <img class="card-img-top" src="images/pisos.gif" alt="imagen de gypsum" height="200">
                    <div class="card-body">
                        <p class="card-text text-justify"><br>Con respecto al concreto premezclado y con la finalidad de
                            ofrecerle servicios integrales, hemos desarrollado un recurso humano y equipo para
                            construcción
                            de pisos industriales y domesticos. cientos de metros2 vaciados exitosamente
                            son motivo de orgullo para todo el personal de la organizacion.
                        </p>
                    </div>
                </div>

                <div class="card col-md-4 mt-3">
                    <h4 class="text-center">Mantenimiento</h4>
                    <img class="card-img-top" src="images/mantenimiento.jpeg" alt="imagen de gypsum" height="200">
                    <div class="card-body">
                        <p class="card-text text-justify"><br>Nuestros servicios están diseñados para cada sector de
                            negocios y disponibles a nivel nacional. Desde microempresas hasta macroempresas, ofrecemos
                            nuestra experiencia para todo el ciclo de vida de tu infraestructura.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    <!--SECTION CONTACT OFERTA-->
        <div class="">
                <div class="text-center">
                    <img class="p-3" src="images/logo.png" width="70%" style="border-radius:70px ">
                    <h2 class="mt-5"><strong>NUESTRA OFERTA</strong></h2>
                    <p>Contamos con el equipo humano mas cualificado y la maquinaria necesaria para abarcar todos los aspectos que refieren a una obra de construcción, además de una amplia trayectoria que nos avala y nos posiciona como una de las empresas mas serias del sector.</p>
                </div>
                <div class="text-center">
                    <a class="btn btn-dark" style="font-size: 20px" href="contact">CONTACTANOS PARA MAS INFORMACION</a>
                </div>
            </div>
    </section>
    <% include partials/footer.html %>
</body>

</html>