<footer class="container-fluid bg-dark text-center mt-3 p-1">
    <div class="row">
        <!--sECTION NUESTROS CLIENTES-->
        <div class="col-md-4 text-dark mt-3">
            <H2 class="text-dark"><strong>NUESTROS CLIENTES</strong></H2>
            <i class="text-warning fas fa-truck-monster fa-8x"></i>
            <h3>“Siempre ahí para ti”</h3>
            <p class="text-justify ml-4">Una solución arquitectónica debe tener siempre una motivación humana basada en el
                análisis,
                pero esa motivación se ha de materializar en la construcción, la cual es probablemente el
                resultado de circunstancias extrañas. </p>
            <div class="navbar navbar-expand-lg d-inline-block">
                <ul class="navbar-nav list-unstyled">
                    <li class="nav-item ">
                        <a class="nav-link text-dark" href="#">
                            <img src="images/feduro.jpeg" alt="Agencias Feduro SA" width="100" height="50">
                        </a>
                    </li>
                    <li class="nav-item mx-5">
                        <a class="nav-link text-dark" href="https://www.baccredomatic.com">
                            <img src="images/bac.png" alt="Bac Credomatic" width="100" height="50">
                        </a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link text-dark" href="">
                            <img src="images/clog.png" alt="Civil Y logistica SA" width="100" height="50">
                        </a>
                    </li>
                </ul>
                <ol class="navbar-nav list-unstyled">
                    <li class="nav-item">
                        <a class="nav-link text-dark" href="http://firepropanama.com">
                            <img src="images/FirePro-logo.png" alt="Fire Protection" width="100" height="50">
                        </a>
                    </li>
                    <li class="nav-item mx-5">
                        <a class="nav-link text-dark" href="ttps://www.bgeneral.com">
                            <img src="images/logo-bg.png" alt="Banco General" width="100" height="50">
                        </a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link text-dark" href="https://felipemotta.com">
                            <img src="images/felipe-motta.jpg" alt="Felipe Motta" width="100" height="50">
                        </a>
                    </li>
                </ol>
            </div>
        </div>

        <!--sECTION CONTACT ME-->
        <div class="col-md-4 text-center ">
            <div class="container mt-3 ">
                <img class=" rounded-circle" src="images/logo.png" alt="Logo de la empresa" width="250" height="200">
            </div>
            <div class="container mt-3">
                <ul class="navbar-nav">
                    <h4>Informaciòn de Contacto</h4>
                    <li>Telefono:
                        <p>6345-7069</p>
                    </li>
                    <li>E-mail
                        <p>Constructorama@gmail.com</p>
                    </li>
                    <li>Direccion
                        <p>Panama, AV 1a B Nte, Ph Ana Rosa</p>
                    </li>
                </ul>
            </div>
        </div>
        <!--SECTION CARD-->
        <div class="container col-md-4 ooffset-md-8">
                <div class="container p-4">

                        <div class="card">
                            <div class="car-header bg-primary text-white text-center">
                                <h4>Contact me</h4>
                            </div>
                            <div class="car-body">
                                <form class="" action="" method="post">
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="E-mail">
                                    </div>
                                </form>
                            </div>
                            <div class="car-body">
                                <div class="form-group">
                                    <textarea class="form-control" name="" id=" " rows="10" cols="30" placeholder="Message">
                                  </textarea>
                                </div>
                                <div class="form-group">
                                    <button class="btn btn-prymary btn-block bg-dark text-white">Send Message</button>
                                </div>
                            </div>
                        </div>
                        <br>
                    </div>

        </div>
        
    </div>

    <p class="mt-4">Todos los derechos reservados &copy; Autor: Michael Abril &copy;</p>
</footer>
<!--script Boostrap 4--->
<script src="/js/jquery-3.3.1.min.js"></script>
<script src="/js/popper.min.js"></script>
<script src="/js/bootstrap.min.js"></script>