<footer class="container-fluid  text-center mt-3 p-1">
    <div class="row">
       

        <!--sECTION CONTACT ME-->
        <div class="col-md-4 text-center ">
            <div class="container mt-3 ">
                <img class=" rounded-circle" src="images/logo.png" alt="Logo de la empresa" width="250" height="200">
            </div>
            <div class="container mt-3">
                <ul class="navbar-nav">
                    <h4>Informaciòn de Contacto</h4>
                    <li>Telefono:
                        <p>6345-7069</p>
                    </li>
                    <li>E-mail
                        <p>Constructorama@gmail.com</p>
                    </li>
                    <li>Direccion
                        <p>Panama, AV 1a B Nte, Ph Ana Rosa</p>
                    </li>
                </ul>
            </div>
        </div>
        <!--SECTION CARD-->
        <div class="container col-md-4 ooffset-md-8">
            <div class="container p-4">

                <div class="card">
                    <div class="car-header bg-primary text-white text-center">
                        <h4>Contact me</h4>
                    </div>
                    <div class="car-body">
                        <form class="" action="" method="post">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="E-mail">
                            </div>
                        </form>
                    </div>
                    <div class="car-body">
                        <div class="form-group">
                            <textarea class="form-control" name="" id=" " rows="10" cols="30" placeholder="Message"></textarea>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-prymary btn-block bg-primary text-white">Enviar mensaje</button>
                        </div>
                    </div>
                </div>
                <br>
            </div>

        </div>

    </div>

    <p class="mt-4"><strong>Todos los derechos reservados &copy; Autor: Michael Abril &copy;</strong></p>
</footer>
<!--script Boostrap 4--->

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>