<nav class=" navegation_navbar navbar navbar-expand-md navbar-dark fixed-top" id="menu">
    <div class="container">
        <a class="navbar-brand" href="/">
            <img src="images/logo.png" class="rounded-circle " alt="Constructora M.A" width="150" height="80">
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" >
      <span class="navbar-toggler-icon rounded-circle btnnavbar" ></span>
    </button>

        <div class="navbar-expand-md collapse navbar-collapse " id="navbarNav">
            <ul class="navbar-nav navbar-collapse right hide-on-med-and-down" >
                <li class="nav-item mx-5">
                    <a class="nav-link  text-white " href="/"><i class="fas fa-home " ></i>  Home </a>
                </li>
                <li class="nav-item  mx-3">
                    <a class="nav-link text-white" href="/services"> <i class="fas fa-building"> </i> Services</a>
                </li>
                <li class="nav-item mx-3">
                    <a class="nav-link text-white " href="/proyectos"><i class="fas fa-hammer"></i> Proyectos</a>
                </li>
                <li class="nav-item b mx-3">
                    <a class="nav-link text-white" href="/contact"><i class="far fa-envelope"></i> Contact</a>
                </li>
                <li class="nav-item mx-3">
                    <a class="nav-link text-white" href="/About"><i class="fas fa-user-tie  "></i> About</a>
                </li>

            </ul>

            <ul class="navbar-nav navbar-collapse nav-flex-icon ">
                <!-- Section Icons-->
                <li class="nav-item mx-1">
                    <a href="/contact" class="nav-link">
                        <i class="far fa-envelope"></i>
                    </a>
                </li>
                <li class="nav-item mx-1">
                    <a class="nav-link" href="#">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                </li>
                <li class="nav-item mx-1">
                    <a class="nav-link" href="#">
                        <i class="fab fa-instagram"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>


       
        