<nav class="navbar navbar-expand-md navbar-light scrolling-navbar fixed-top mt-2">
    <div class="container">
        <a class="navbar-brand" href="/">
            <img src="images/logo.png" class="rounded-circle" alt="Constructora M.A" width="150" height="80">
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon bg-white rounded-circle"></span>
    </button>

        <div class="navbar-expand-md collapse navbar-collapse bg-warning rounded-circle" id="navbarNav">
            <ul class="navbar-nav navbar-collapse">
                <li class="nav-item mx-5">
                    <a class="nav-link" href="/"><i class="fas fa-home"></i> Home </a>
                </li>
                <li class="nav-item  mx-3">
                    <a class="nav-link" href="/services"> <i class="fas fa-building"> </i> Services</a>
                </li>
                <li class="nav-item mx-3">
                    <a class="nav-link " href="/proyectos"><i class="fas fa-hammer"></i> Proyectos</a>
                </li>
                <li class="nav-item b mx-3">
                    <a class="nav-link" href="/contact"><i class="far fa-envelope"></i> Contact</a>
                </li>
                <li class="nav-item mx-3">
                    <a class="nav-link " href="/#About"><i class="fas fa-user-tie  "></i> About</a>
                </li>

            </ul>

            <ul class="navbar-nav navbar-collapse nav-flex-icon ">
                <!-- Section Icons-->
                <li class="nav-item mx-1">
                    <a class="nav-link" href="#">
                        <i class="fab fa-facebook-f fa-1x "></i>
                    </a>
                </li>
                <li class="nav-item mx-1">
                    <a class="nav-link" href="#">
                        <i class="fab fa-instagram"></i>
                    </a>
                </li>
                <li class="nav-item mx-1">
                    <a href="#" class="nav-link">
                        <i class="fab fa-twitter"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>